---
import Exercices from '../../layouts/Exercices.astro';
import * as short from '../../components/blog'
const {Title,SubHead,Paragraph,Part,AnimationFrame,H,Ex}=short
import ExoSection from '../../components/blog/exercice/ExoSection'
import Lesson from '@/layouts/Lesson.astro';
title: "Playground"
description: "A brief introduction to the fundamental concept of interior in topology"
pubDate: 2023-11-20
author: "Math Insights"
tags: ["mathematics", "topology", "interior"]
image: "/images/topology-interior.jpg"
draft: false
---
<Lesson>
<Part>
<Title>Playground</Title>
<!-- <AnimationFrame id="exerciceFrame02" style={{
    width: '120%',
    height: '400px',
    position: 'relative',
    left:'-10%'
}}/> -->
<div id="rangeInputWrapper">

</div>
<div><input type="radio" name="test" value="0" class="radioInput"/></div>
<div><input type="radio" name="test" value="1" class="radioInput"/></div>
<div><input type="radio" name="test" value="2" class="radioInput"/></div>
</Part>
</Lesson>
<script>
// document.querySelectorAll('.radioInput').forEach((input)=>{
//     input.addEventListener('change',function(){
//         console.log(this.value)
//     })
// })
    // Create an SVG.js instance

// import { exo02 } from '@/lib/lessons/topology/homeomorphism/homotopy/exercices';
// exo02().engine[0]()
</script>