---
import Exercices from '../../layouts/Exercices.astro';
import * as short from '../../components/blog'
const {Title,SubHead,Paragraph,Part,AnimationFrame,H,Ex}=short
import ExoSection from '../../components/blog/exercice/ExoSection'
import Lesson from '@/layouts/Lesson.astro';
title: "Playground"
description: "A brief introduction to the fundamental concept of interior in topology"
pubDate: 2023-11-20
author: "Math Insights"
tags: ["mathematics", "topology", "interior"]
image: "/images/topology-interior.jpg"
draft: false
---
<Lesson>
<Part>
<Title>Playground</Title>
<AnimationFrame id="boundaryKernel" style={{
    width: '120%',
    height: '400px',
    position: 'relative',
    left:'-10%'
}}/>
</Part>
</Lesson>
<script>

import boundaryKernel from '@/lib/lessons/topology/homology/boundaryKernel';
boundaryKernel.init()
boundaryKernel.engine[0]()
</script>