---
import Exercices from '../../layouts/Exercices.astro';
import * as short from '../../components/blog'
const {Title,SubHead,Paragraph,Part,AnimationFrame,H,Ex}=short
import ExoSection from '../../components/blog/exercice/ExoSection'
import Lesson from '@/layouts/Lesson.astro';
title: "Playground"
description: "A brief introduction to the fundamental concept of interior in topology"
pubDate: 2023-11-20
author: "Math Insights"
tags: ["mathematics", "topology", "interior"]
image: "/images/topology-interior.jpg"
draft: false
---
<Lesson>
<Part>
<Title>Playground</Title>
<!-- <AnimationFrame id="exerciceFrame02" style={{
    width: '120%',
    height: '400px',
    position: 'relative',
    left:'-10%'
}}/> -->
<div id="rangeInputWrapper">

</div>
<input type="range" class="rangeInput" min="0" max="100" value="50">
</Part>
</Lesson>
<script>

    // Create an SVG.js instance

// import { exo02 } from '@/lib/lessons/topology/homeomorphism/homotopy/exercices';
// exo02().engine[0]()
</script>