@import "tailwindcss";
.overlap{
    @apply row-start-1 row-end-2 col-start-1 col-end-2;
}
@font-face {
    font-family: 'poppins';
    src: url('../assets/Poppins-Light.ttf') format('woff2');
    font-display: block;
}
@font-face {
    font-family: 'merriweather';
    src: url('../assets/Merriweather-Light.ttf') format('woff2');
    font-display: block;
}
.fadeOnScroll{
    opacity: 0;
    transform: translateY(20px);
}
/* .rangeInput{
    position:absolute;
    opacity:0;
    width:1px;
    height:1px;
} */
.radioInput{
    position:absolute;
    opacity:0;
    width:1px;
    height:1px;
}