---
import Layout from '../layouts/Layout.astro';
import Branches from '../components/Branches.astro';
import Hero from '../components/Hero.astro';
---
<Layout>
    <main>
            <Hero/>
            <Branches/>
    </main>
    <script src="../js/indexPage"></script>
</Layout>