---
import Lesson from "../layouts/Lesson.astro";
---

<Lesson>
<div class="grid grid-cols-1 grid-rows-1 w-[500px]">
    <svg id="toolTip" class=" overlap" viewBox="0 0 200 200" preserveAspectRatio="none">
        <path d="M1,10 Q1,1 10,1 H190 Q199,1 199,10 V90 Q199,99 190,99 H110 L100,109 L90,99 H10 Q1,99 1,90 Z" 
              fill="white" 
              stroke="#ccc" 
              stroke-width="1"
              vector-effect="non-scaling-stroke"/>
      </svg>
    <div id="toolTipContent" class="overlap opacity-[0] relative top-[15px] h-full w-full p-[10px]">

        <p class="text-3xl font-bold text-center">Sample Lesson Page</p>
        <p class="px-4 text-xl">This is a sample lesson page created using the Astro Lesson layout.</p>
        <p class="px-4 text-xl">This text is placed inside a div with class "overlap", which is used to create an overlap effect with the SVG above.</p>

    </div>
</div>
<script>
import Vivus from "vivus";
import { gsap } from "gsap";

    new Vivus('toolTip', {
        type: 'oneByOne',
        duration:100,
        pathTimingFunction: Vivus.EASE_OUT,
        onReady:function(){
            gsap.to('#toolTipContent',{duration:1,delay:0.3,y:-5,opacity:1})
        }
    })
</script>
</Lesson>