---
// src/components/GridMenu.astro
const menuItems = [
  { id: 0, title: "Topology"},
  { id: 1, title: "Functional Analysis" },
  { id: 1, title: "Probability Theory" },
  { id: 1, title: "Algebra" },
];
---
<div class="overlap" id="branches">
  <div class="max-w-6xl mx-auto py-12 bg-[#fcfae9] rounded-[20px] relative left-[10%]">
    <div class="flex flex-wrap gap-12 justify-center">
      {menuItems.map((item) => (
        <div
          data-id={item.id}
          class="cursor-pointer branch bg-[#200a56] block rounded-xl w-[25%] aspect-[2] shadow-md p-12 text-center transition-all duration-300 hover:shadow-lg hover:-translate-y-1 border border-gray-100 flex flex-col items-center justify-center"
        >
          <h3 class="text-[24px] font-semibold text-white">{item.title}</h3>
        </div>
      ))}
    </div>
  </div>
</div>