
<div class="grid w-full  h-[100vh] relative z-[3]">
    <div class='overlap' id="heroBackground"></div>
    <div class="overlap grid grid-cols-[50%_50%]">
        <div class='font-[poppins] grid '>
            <div class="justify-self-center p-[100px] h-fit w-[90%] bg-[radial-gradient(closest-side,_#fcfae94d_0%,_#fcfae94d_80%,_#fcfae900_100%)]">
                <h2 class="text-[44px] mb-[50px] ">Page Title</h2>
                <p class="text-[22px] leading-[35px] mb-[50px]">Clouds drifted above silent hills, whispering secrets to the wind. Lanterns flickered along cobbled streets as laughter echoed from hidden courtyards. A fox darted through moonlit shadows, unseen yet aware. Time paused briefly—just long enough for dreams to slip between cracks in reality, stitching stories only night could understand.</p>
            </div>
        </div>
        <div class="grid">
            <div class="self-center justify-self-center w-[80%] h-[80%] grid grid-rows-[80%_20%] overlap">
                <div id="newtonDemoFrame"></div>
                <div id="newtonDemoControl"></div>
            </div>
            <div class="overlap h-full w-full justify-self-center self-center grid grid-rows-[60%_40%]">
                <div class="grid">
                    <div id="heroFrame1" class="overflow-hidden shadow-[0px_2px_8px_rgba(0,0,0,0.1)] rounded-full bg-white w-[320px] aspect-[1] overlap relative top-[100px] left-[50px] border-[1px] border-solid border-gray-300"></div>
                    <div id="heroFrame2" class="overflow-hidden shadow-[0px_2px_8px_rgba(0,0,0,0.1)] rounded-full bg-white w-[320px] aspect-[1] overlap relative top-[40px] left-[300px] border-[1px] border-solid border-gray-300"></div>
                </div>
                <div class="grid">
                    <button class="hover:bg-[#1e0943] transition-[background-color_0.3s] bg-[#310f70] text-white px-[40px] py-[10px] text-[26px] font-[poppins] rounded-[40px] h-fit w-fit  justify-self-center cursor-pointer" id="playDemoButton">Play quick demo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='../js/indexPage/heroSection'>

</script>