
<div class="grid w-full  h-[100vh]">
    <div class='overlap' id="heroBackground"></div>
    <div class="overlap grid grid-cols-[45%_55%]">
        <div class='font-[poppins] grid'>
            <div class="self-center justify-self-end w-[80%]">
                <h2 class="text-[44px] mb-[50px] ">Page Title</h2>
                <p class="text-[22px] leading-[35px] mb-[50px]">Clouds drifted above silent hills, whispering secrets to the wind. Lanterns flickered along cobbled streets as laughter echoed from hidden courtyards. A fox darted through moonlit shadows, unseen yet aware. Time paused briefly—just long enough for dreams to slip between cracks in reality, stitching stories only night could understand.</p>
            </div>
        </div>
        <div class="grid">
            <div class="self-center justify-self-center w-[80%] h-[80%] grid grid-rows-[80%_20%] overlap">
                <div id="newtonDemoFrame"></div>
                <div id="newtonDemoControl"></div>
            </div>
            <div class="overlap bg-red-500 h-[80%] w-[80%] justify-self-center self-center grid grid-rows-[80%_20%]">
                <div></div>
                <div class="grid">
                    <button class="hover:bg-[#1e0943] transition-[background-color_0.3s] bg-[#310f70] text-white px-[40px] py-[10px] text-[26px] font-[poppins] rounded-[40px] h-fit w-fit justify-self-center self-center cursor-pointer">Play quick demo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='../js/indexPage/heroSection'>

</script>