
<div class="grid w-full  h-[100vh]">
    <div class='overlap' id="heroBackground"></div>
    <div class="overlap grid grid-cols-[50%_50%]">
        <div class='font-[poppins] grid'>
            <div class="justify-self-center pl-[100px] py-[100px] h-fit w-[100%] bg-[radial-gradient(closest-side,_#fcfae94d_0%,_#fcfae94d_80%,_#fcfae900_100%)]">
                <h2 class="text-[60px] mb-[50px] text-[#60778d]">Vmath</h2>
                <p class="text-[27px] leading-[54px] mb-[50px] font-[merriweather] text-[#1c446b]">Unlock the beauty of advanced mathematics through interactive, visual lessons. MathVisio transforms abstract concepts into engaging, dynamic experiences</p>
            </div>
        </div>
        <div class="grid">
            <div class="self-center relative bottom-[120px] right-[100px] justify-self-center hidden w-[70%] h-[58%] grid grid-rows-[80%_20%] overlap">
                <div id="newtonDemoFrame" class="bg-[white] rounded-[5px] shadow-md "></div>
                <div id="newtonDemoControl"></div>
            </div>
            <div class="overlap h-full w-full justify-self-center self-center grid grid-rows-[60%_40%]">
                <div class="grid">
                    <div id="heroFrame1" class="overflow-hidden shadow-[0px_2px_8px_rgba(0,0,0,0.1)] rounded-full bg-white w-[320px] aspect-[1] overlap relative top-[100px] left-[50px] border-[1px] border-solid border-gray-300"></div>
                    <div id="heroFrame2" class="overflow-hidden shadow-[0px_2px_8px_rgba(0,0,0,0.1)] rounded-full bg-white w-[320px] aspect-[1] overlap relative top-[40px] left-[300px] border-[1px] border-solid border-gray-300"></div>
                </div>
                <div class="grid">
                    <button class="hover:bg-[#1e0943] transition-[background-color_0.3s] bg-[#310f70] text-white px-[40px] py-[10px] text-[26px] font-[poppins] rounded-[40px] h-fit w-fit  justify-self-center cursor-pointer" id="playDemoButton">Play quick demo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='../js/indexPage/heroSection'>

</script>