<div class="w-full grid h-[150vh]">
    <div class="overlap w-full" id="section1Background"></div>
    <div class="grid grid-cols-1 md:grid-cols-2  h-[650px] gap-8 md:gap-12 items-center overlap pt-[250px]">
        <div id="plotMethodContainer" class=" w-fit relative right-[10%] justify-self-center self-start  p-[40px] rounded-[10px] shadow-[0_0_10px_0_rgba(0,0,0,0.1)] bg-white">
            <div>
                <input class="mode" type="radio" id="mode1" name="mode" value="0">
                <label for="mode1">Mode 1</label>
                <input class="mode" type="radio" id="mode2" name="mode" value="1">
                <label for="mode2">Mode 2</label>
                <input class="mode" type="radio" id="mode3" name="mode" value="2">
                <label for="mode3">Mode 3</label>
                <input class="mode" type="radio" id="mode4" name="mode" value="3">
                <label for="mode4">Mode 4</label>
            </div>
        </div>
        
        
        <div class="space-y-6 w-[80%] self-start">
            <h2 class="text-[60px] mb-[50px] text-[#000066]">Do it the right way</h2>
            <p class="text-[27px] leading-[54px] mb-[50px] font-[merriweather] text-[#1c446b]">
                Math was never about knowing formulas and relations, but building the abstract logic from intuition. And observing beyond the limits of the universe
            </p>
        </div>
    </div>
</div>