<div class="w-full grid h-[150vh]">
    <div class="overlap w-full" id="section1Background"></div>
    <div class="grid grid-cols-1 md:grid-cols-2  h-[650px] gap-8 md:gap-12 items-center overlap pt-[250px]">
        <div  class=" w-fit relative right-[10%] justify-self-center self-start ">
            <div>
                <button class="plotMethodMode" data-value="0">Mode 1</button>
                <button class="plotMethodMode" data-value="1">Mode 2</button>
                <button class="plotMethodMode" data-value="2">Mode 3</button>
                <button class="plotMethodMode" data-value="3">Mode 4</button>            </div>
            <div id="plotMethodContainer"></div>
            <div id="plotMethodAnimationText"></div>
        </div>
        
        
        <div class="space-y-6 w-[80%] self-start">
            <h2 class="text-[60px] mb-[50px] text-[#000066]">Do it the right way</h2>
            <p class="text-[27px] leading-[54px] mb-[50px] font-[merriweather] text-[#1c446b]">
                Math was never about knowing formulas and relations, but building the abstract logic from intuition. And observing beyond the limits of the universe
            </p>
        </div>
    </div>
</div>