---
const props=Astro.props
---
<div class="w-full grid grid-cols-[50%_50%] p-[20px] rounded-[10px] grid-rows-[100%]
border-black-500 border-[1px]" style={props.style}>

<div class='control w-[80%] h-full'>
    <div class="flex flex-col gap-2 h-[50%]">
    </div>
    <div class="flex flex-col gap-2 h-[50%] flex-col-reverse">
    </div>
</div>
    <div id={props.id} ></div>
</div>