---
const {title, description} = Astro.props;
---
<div id={`${title}toolTip`} class="grid absolute top-[0] left-[0] opacity-[0] grid-cols-1 grid-rows-1  w-[400px]">
    <svg id={`${title}toolTipFrame`} class="overlap" viewBox="0 0 250 200" preserveAspectRatio="none">
        
      </svg>
    <div id={`${title}toolTipContent`} class="overlap opacity-[0] relative top-[15px] h-full w-full p-[10px]">

        <p class="px-4 text-xl">{description}</p>

    </div>
</div>