
---
import "../styles/global.css"
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
</head>
<body class="bg-gray-100">

    <!-- <div class="w-full h-full bg-white fixed top-0 left-0 z-10 grid place-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="150px" height="300px" id="logo">
            <g>
                <path d="M 10 -12 L 21 15 L 41 -12 L 37 -15 L 22 6 L 14 -14 Z " id="part1" fill="#f4d10b" />
                <path d="M 37 -11 V -15 H 70 V -11 Z " style="opacity: 0;" fill="#f4d10b" id="part2"/>
                <path d="M 36 16 L 42 -8 L 42 -8 L 47 -8 L 52 -1 L 58 -8 L 64 -8 L 62 17 L 58 17 L 60 -5 L 51 5 L 45 -4 L 40 16 Z" style="opacity: 0;" fill="#b300a7" id="part3"/>
            </g>
        </svg>
    </div> -->
    <!-- <div class="w-full h-[100px] grid grid-cols-[10%_90%] grid-rows-1" >
        <div class="bg-red-500" id="logo-container"></div>
    </div> -->
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
